<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="engine1.2" class="com.lab3.Engine">
		<constructor-arg value="1.2"></constructor-arg>
		<constructor-arg value="petrol"></constructor-arg>
	</bean>
	
	<bean id="engine1.6" class="com.lab3.Engine">
		<constructor-arg value="1.6"></constructor-arg>
		<constructor-arg value="diesel"></constructor-arg>
	</bean>
	<bean id="2017-G-1" class="com.lab3.Car">
		<constructor-arg value="2017-G-1"></constructor-arg>
		<constructor-arg value="5"></constructor-arg>
		<constructor-arg value="red"></constructor-arg>
		<constructor-arg ref="engine1.6"></constructor-arg>
	</bean>
	<bean id="2000-G-456" class="com.lab3.Car">
		<constructor-arg value="2000-G-456"></constructor-arg>
		<constructor-arg value="4"></constructor-arg>
		<constructor-arg value="green"></constructor-arg>
		<constructor-arg ref="engine1.6"></constructor-arg>
	</bean>
	
	<bean id="2010-WH-77" class="com.lab3.Car">
		<constructor-arg value="2010-WH-77"></constructor-arg>
		<constructor-arg value="5"></constructor-arg>
		<constructor-arg value="black"></constructor-arg>
		<constructor-arg ref="engine1.2"></constructor-arg>
	</bean>
	
	
</beans>
